a {
	text-decoration: none;
}
.timeline-ico::after {
    pointer-events: none;
    position: absolute;
    width: 104%;
    height: 104%;
    border-radius: 50%;
    content: '';
	top: -2%;
    left: -2%;
    border: 4px dashed #313131;
}
.timeline-ico {
	font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #ddd;
}

/* Effect for breifcase */
.timeline-ico{
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.timeline-ico:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

@media(max-width: 575px) {

	.container {
		padding: 0 15px;
	}
}

@media(max-width: 767px) {}

@media(max-width: 991px) {}

@media(max-width: 1100px) {}